* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-heading:'Staatliches', cursive;
  --ff-texting:'Palanquin', sans-serif;
  --ff-footer:'Open Sans', sans-serif;
  
  --hue: 250;
  --bg-primary: hsl(var(--hue), 100%, 97%);
  --bg-secondary: hsl(var(--hue), 17%, 62%);
  --bg-tertiary: hsl(var(--hue), 18%, 79%);
  --bg-fourth:hsl(var(--hue), 91%, 96%);



  --fc-primary: hsl(var(--hue), 0%, 100%);
  --fc-secondary: hsl(var(--hue), 84%, 12%);
  --fc-tertiary: hsl(var(--hue), 17%, 35%);

  font-size: 65.5%;
  --fs-body: 2rem;
  --fs-heading: 4rem;
}

main {
  display: grid;
  gap: 3.2rem; 
}
main .card {
  display: flex;
}

body {
  background: var(--bg-primary);
}

header {
  background: var(--bg-secondary);
  padding: 3.2rem 0 3.2rem;
}

header img {
  display: block;
  margin: auto;
}

header h1 {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
  color: var(--fc-primary);
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.boxcream {
  height: 4.9rem;
  background: var(--bg-tertiary);
  text-align: center;
  padding: 8px;
  margin-top: 3.2rem;
}

.p-mobile {
  height: 7.5rem;
  font-family: var(--ff-texting);
  font-size: 1.5rem;
  color: var(--fc-secondary);
  line-height: 2rem;
  font-weight: 400;
  max-width: 600px;

  display: flex;
  text-align: center;
  margin: 1.4rem auto 6.3rem;
  padding: 0 3.2rem;
}

.page {
  margin: 0 3.2rem 6rem;
}

.card {
  position: relative;
  font-family: var(--ff-heading);
  max-width: 32rem;
}
.card img {
  width: 100%;
  border-radius: 2rem;
  object-fit: cover;
  
  animation: downtop 1000ms;

}
#img-min {
  height: 25rem;
}
#img-max {
  height: 45rem;
}

.card h2 span {
  position: absolute;
  right: 2rem;
  top: 1.7rem;
  
  border-radius: 2rem;
  background: var(--bg-fourth);
  font-size: var(--fs-body);
  font-weight: 400;
  color: var(--fc-tertiary);
  padding: 3px 2.3rem;

  line-height: 3.4rem;
  letter-spacing: 0.05em;
  
  display: inline-flex;
  align-items: center;

  animation: topdown 3000ms 150ms backwards;
}
@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
 
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

p {
  display: none;
  }

@media (max-width: 700px) {
  main {  
      display: block;
    }
    .card {
      margin: 32px auto;
    }
    footer {
      display: none;
    }
      }
/*Versão para tablet*/
@media (max-width: 1200px)  {
  main {  
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "A B" "D B" "D C";
  }
   main div:nth-child(1) {
    grid-area: A;
  }
  main div:nth-child(2) {
    grid-area: B;
  }
  main div:nth-child(3) {
    grid-area: C;
  }
  main div:nth-child(4) {
    grid-area: D;
  }
  main div:nth-child(5) {
    grid-area: E;
    display: none;
  }
  main div:nth-child(6) {
    grid-area: F;
    display: none;
  }
  footer {
    display: none;
  }
}
/*Versão da pagina desktop*/
 @media (min-width: 1200px) {
  .page {
    margin: 0 auto;
  }
  body {
    display: flex;
  }
  header {
    width: 377px;
  }
  .boxcream {
    height: 70px;
    padding: 20px;
  }
  .p-mobile {
    display: none;
  }
  header p {
    height: 262px;
    font-size: 15px;
    font-weight: 400;
    font-size: 24px 83%;
    line-height: 25px;
    margin: 50px 55px;
    color: #FFFFFF;

  
    font-family: var(--ff-texting);
    display: flex;
    text-align: center;
  }
   main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "A B E" "D B F" "D C F";
    margin: 64px;
   }
   
   main div:nth-child(1) {
    grid-area: A;
  }
  main div:nth-child(2) {
    grid-area: B;
  }
  main div:nth-child(3) {
    grid-area: C;
  }
  main div:nth-child(4) {
    grid-area: D;
  }
  main div:nth-child(5) {
    grid-area: E;
  }
  main div:nth-child(6) {
    grid-area: F;
  }

  .card h2 span {
    display: none;
  }

  .card img {
    animation: none;
  }

  footer h3{
    font-family: var(--ff-footer);
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    color: var(--fc-tertiary);
    margin: 0 auto 50px;
  }

  a {
    text-decoration: none;
    color: var(--fc-tertiary);
    font-weight: bold;
  }
  
}
